
{% extends "base_generic.html" %}
{% block content %}
      <div class="col-sm-12">
         <div class="titulo_pag">
            <h3>Lista de frases de origen:</h3>
            <h2>{{ origen }}</h2>
         </div>
         <div id="contenido">
            <section>
               <article>
                  {% if frase_list %}
                     <table border="0" width="100%">
                        <tr>
                           {% for frase in frase_list %}
                           <td align="center" width="70%">
                                 <a class="frase" href="{{ frase.get_absolute_url }}">"{{ frase.dicho }}"</a>
                        </tr><!-- tr>
                           <td align="center" width="80%">
                                 <strong>{{ frase.explicacion }}</strong>
                           </td></tr -->
                           {% endfor %}
                        <tr><td align="center">-._.-._.-</td></tr>
                     </table>
                  {% else %}
                      <p>No hay frases publicadas de este origen.</p>
                  {% endif %}
               </article>
            </section>
{% endblock %}

